{% extends 'fscohort/base.html' %} 
{% block content %}

<div class="container">
    <h2>Student Add</h2>
    <form action="" method="POST">
        <!-- enctype="multipart/form-data" --> <!-- soldaki kod satirini form icerisine yazmadigimiz icin hata almadik , cünkü: default olarak avatar.png yi koy dedik. -->
        {% csrf_token %} 
        {{form.as_p}} <!-- Paragraf halinde listelenmesi icin as_p yaziyoruz. -->
    
        <input type="submit" value="Add Student">
    
    </form>
</div>

{% endblock content %}