{% extends 'fscohort/base.html' %} 
{% block content %}

<h2>Student Detail</h2>

<!-- For döngüsüne gerek yok , Cünkü eslesen id ye dair 1 queryset gelecek. -->

<div>
    <img src="{{student.image.url}}" alt="Broken Image" style="width: 30px; height: 30px; border-radius: 50%;">
    {{student.first_name}}
    {{student.last_name}}
</div>

<div>
    {{student.email}}
</div>
<div>
    {{student.phone}}
</div>
<div>
    Gender:{{student.gender}}
</div>

<div>

    <a href="{% url 'update' student.pk %}">Edit & Update</a>
    <!-- <a href="{% url 'delete' student.pk %}">Delete</a> -->
</div>

{% endblock content %}